.topbar {
   height: 30px;
}
.topbar ul{
  padding: 0 0 !important;
  margin: 0 0 !important;
  display: inline-block;
}
.topbar li{
  list-style: none;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  display: inline-block;
}
.topbar a {
  text-decoration: underline;
  padding: 5px 5px 4px 5px;
}
.topbar a .fa{
  width: 15px !important;
  height: 15px !important;
}